
/***********************/
/* Barre de Navigation */
/***********************/
nav{
    margin: -2% 12% 1% 8%;
    text-align: right;
    width: 80%;
}
nav li{
    display: inline-block;
    margin-right:5%;
}  