/* MENU HORIZONTAL */

#menu{
        width: 100%;
        margin: 0;
        padding: 10px 0 0 0;
        list-style: none;
        background: #111;
		border-top: 15px solid black; /* Decale le menu de 15px vers le haut */
		font: bold 15px/25px Arial, Helvetica;
}

#menu li{
        float: right;
        padding: 0 0 10px 0;
        position: relative;
}

#menu a{
        float: right;
        height: 25px;
        padding: 0 25px;
        color: #999;
        text-transform: uppercase;
        text-decoration: none;
		font: bold 12px/25px Arial, Helvetica;
		margin: 1px 0;
		color: #999;
  		background: #111;
  		text-decoration: none;
	   -webkit-transition: all .3s; 
	   -moz-transition: all .3s;
	   transition: all .3s;
}

#menu li:hover > a{
		background: #E9C200;
  		color: #FFF;
  		padding-left: 30px; 
}

*html #menu li a:hover{
        color: #fafafa;
}

#menu li:hover > ul{
        display: block;
}

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;
    background: #444;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);
    background: -o-linear-gradient(#444, #111);
    background: -ms-linear-gradient(#444, #111);
    background: linear-gradient(#444, #111);
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#menu ul li{
    float: none;
    margin: 0;
    padding: 0;
    display: block;
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

#menu ul li:last-child{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#menu ul a{
    padding: 10px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

*html #menu ul a{ /* IE6 */
        height: 10px;
        width: 150px;
}

*:first-child+html #menu ul a{ /* IE7 */
        height: 10px;
        width: 150px;
}

#menu ul a:hover{
        background: #0186ba;
        background: -moz-linear-gradient(#04acec,  #0186ba);
        background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
        background: -webkit-linear-gradient(#04acec,  #0186ba);
        background: -o-linear-gradient(#04acec,  #0186ba);
        background: -ms-linear-gradient(#04acec,  #0186ba);
        background: linear-gradient(#04acec,  #0186ba);
}

#menu ul li:first-child a{
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#menu ul li:first-child a:after{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#menu ul li:first-child a:hover:after{
    border-bottom-color: #04acec;
}

#menu ul li:last-child a{
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

/* TEST MENU VERTICAL */

/* style du bloc ul */
.menu-vertical{
  list-style: none;
  padding: 4px;
  margin: 0;
  background: black;
  font: bold 15px/25px Arial, Helvetica;
  float: left;
  width:100px;
  height:850px;
}
 
.mv-item,.mv-item a{
  display: block;
}
 
/* styles des liens */
.mv-item a{
  margin: 1px 0;
  padding: 8px 20px;
  color: #999;
  background: #111;
  text-decoration: none;
  -webkit-transition: all .3s; /* Chrome/Safari */
  -moz-transition: all .3s; /* Firefox (plus trop nécessaire) */
  transition: all .3s; /* syntaxe officielle */
}
 
/* styles changeants au survol et focus */
.mv-item a:hover, .mv-item a:focus{
  background: #E9C200;
  color: #FFF;
  padding-left: 30px;
}

#menu:after{
	visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html #menu             { zoom: 1; } /* IE6 */
*:first-child+html #menu { zoom: 1; } /* IE7 */

/* Caractéristiques */
#caracteristics{
	width:600px;
	height:400px;
	font: bold 15px/25px Arial, Helvetica;
	border-top: 15px solid black;
	border-left: 150px solid black;	
}

/*Style des div*/
#general, #service, #adresse, #contact{
	font-family:  'Century Gothic';    
    background-color: white;
    color:black;
    border-radius: 15px;
    display: inline-block;
    margin: 29px 12% 0 5%;
    text-align: left;
    width: 90%;
    height: auto;
    vertical-align: top;
    padding: 3px 3% 2% 2%;
	
}

#liste_hebergement{
	border-collapse: collapse;
	font-family:  'Century Gothic';    
    background-color: black;
    color:white;
    border-radius: 15px;
    display: inline-block;
    margin: 33px 12% 0 5%;
    text-align: left;
    width: 174%;
    height: auto;
    vertical-align: top;
    padding: 3px 3% 2% 2%;
}

#liste_contact, #liste_service, #liste_adresse{
	border-collapse: collapse;
	font-family:  'Century Gothic';    
    background-color: black;
    color:white;
    border-radius: 15px;
    display: inline-block;
    margin: 32px 12% 0 5%;
    text-align: left;
    width: 139%;
    height: auto;
    vertical-align: top;
    padding: 10px 3% 2% 2%;
}

#liste_hebergement a{
	text-decoration: underline;
}

td, th, tr{
	border: thin solid #CBCBCB;
	width: auto; 
	padding: 5px;  
	width: 15%; 
}

th{
	text-align:center;
}









