

.contenu {
	display:none;
}

.contenu.active {
	display:block;
}

.clicked{
background:#e9c200;
}


/*Style tableau projection*/

#contenu_onglet{
    display: inline-block;
    margin-left: 6%;
    width: 80%;
}
#bouton{
    display: inline-block;
    float: right;
    margin-right: 16%;
    margin-top: -1800px;
    position: relative;
}

#contenu_onglet table{
	border-collapse: collapse;
	
}

#contenu_onglet table td, tr, th{ 
	width : auto;
	height : auto;
}
