

.contenu {
	display:none;
}

.contenu.active {
	display:block;
}

.clicked{
background:#e9c200;
}


/*Style tableau projection*/

#contenu_onglet{
    display: inline-block;
    margin-left: 7%;
    width: 80%;
}
#bouton{
    display: inline-block;
	margin-top:400px;
	margin-right:15%;
	top: 0;
	right:0;

	z-index:99;
    position:absolute;
}

#bouton.fixed{

	position:fixed;
	top:20px;
	margin-top: 0;
}

#contenu_onglet table{
	border-collapse: collapse;
	text-align: center;
	margin: 10px 5px 0px -7%;
	
}

#contenu_onglet table td, tr, th{ 
	width : auto;
	height : auto;
	padding: 18px 16px 5px 0px;
}
